# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib
*.Po

# Executables
*.exe
*.out
*.app
icehetest

# Autoconf files
config.log
config.status
*.tar.gz

#Emacs temp files
*~
